.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 30px);
}

.mdEditor {
  flex: 1;
  height: 100%;
  padding: 30px;
  overflow-y: auto;
}
