.contextMenu {
  padding-block: 12px;
  position: fixed;
  left: 100px;
  top: 100px;
  border-radius: var(--border-radius-base);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  width: 240px;
  min-height: 180px;
  max-height: 60vh;
  overflow-y: auto;
  background-color: #fff;
  scrollbar-color: transparent transparent;
  // display: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .item {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    font-size: 13px;
    color: var(--color-info);
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }

  .icon {
    display: flex;
    align-items: center;
    width: 30px;
  }
}
