.wrapper {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #1f1f1f;

  .sider {
    overflow: auto;
    background-color: #181818;
    box-shadow: 1px 0 1px rgb(255 255 255 / 5%);

    .list {
      padding: 10px;

      .item {
        line-height: 1.6;
        color: #ccc;
        cursor: pointer;
        user-select: none;

        .row {
          &:hover {
            background-color: rgb(255 255 255 / 30%);
          }
        }

        > .list {
          height: 0;
          padding: 0 10px;
          overflow: hidden;
          transition: height 0.2s ease;
          will-change: height;
        }

        > .directoryIcon {
          svg {
            transition: transform 0.2s ease;
          }
        }

        &.expand {
          > .list {
            height: fit-content;
          }

          > .directoryIcon {
            svg {
              transform: rotate(90deg);
            }
          }
        }

        span {
          margin-left: 8px;
        }

        .directoryIcon + span {
          margin-left: 0;
        }
      }
    }
  }

  .content {
    display: flex;
    width: 100%;
    height: 100%;

    .code,
    .exhibit {
      flex: 1;
    }

    .code {
      padding: 10px 5px;
      padding-bottom: 250px;
      overflow: auto;
      scrollbar-color: transparent transparent;
      background-color: #282c34;

      &::-webkit-scrollbar {
        width: 0;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      code {
        font-family: var(--font-family-code);
      }
    }
  }
}
