.filePanelContainer {
  position: relative;
  z-index: var(--z-gighest);
  width: 0;
  height: 0;

  .wrapper {
    position: fixed;
    top: 15vh;
    left: 10%;
  }

  .filePanel {
    width: 800px;
    min-height: 60vh;
    overflow: hidden;
    background-color: #f1f3f5;
    border: none;
    border-radius: var(--border-radius-base);
    outline: none;
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);
    will-change: tranform;

    // resize: both;

    // &::-webkit-resizer {
    //   display: none;
    // }

    .header {
      display: flex;
      height: 30px;
    }

    .header .bar {
      flex: 1;
      height: 100%;
      cursor: move;
    }

    .header .operator {
      display: flex;
      align-items: center;
      height: 100%;

      i {
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding-inline: 14px;
        cursor: pointer;

        &:hover {
          background-color: #d9d9d9;
        }
      }
    }
  }

  .enter {
    animation: enter 0.3s cubic-bezier(0.08, 0.82, 0.17, 1);
    animation-fill-mode: both;
  }

  .leave {
    animation: leave 0.2s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    animation-fill-mode: both;
  }
}

@media screen and (width <=768px) {
  .filePanelContainer {
    .filePanel {
      width: 400px;
      height: 60vh;
    }
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes leave {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.2);
  }
}
