.main {
  display: block;
  height: 100%;
  padding-inline: 260px;
  overflow-y: auto;
  background-color: #fbf8fd;
}

.exhibit {
  height: 100%;

  .logo {
    width: 200px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 200px;
      height: 190px;
    }
  }
}

@media screen and (width <= 1366px) {
  .main {
    padding-inline: 150px;
  }
}

@media screen and (width <= 768px) {
  .main {
    padding-inline: 15px;
  }
}
