.main {
  display: block;
  height: 100%;
  padding-inline: 260px;
  overflow-y: auto;
  background-color: #fbf8fd;
}

.exhibit {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 100%;

  .slogan {
    padding-block: 25vh;
  }

  .media {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-block: 25vh;

    .logo {
      width: 250px;
      height: 250px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 50%;
      transform: translateX(40px);

      img {
        width: 100%;
        height: 100%;
        user-select: none;
      }
    }
  }
}

:root[mode='dark'] {
  .main {
    background-color: var(--background-color);
  }
}

@media screen and (width <= 1366px) {
  .main {
    padding-inline: 150px;
  }
}

@media screen and (width <= 768px) {
  .main {
    padding-inline: 15px;
  }

  .exhibit {
    flex-direction: column;

    .slogan {
      padding: 0;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    .media {
      width: 100%;
      padding: 0;

      .logo {
        width: 200px;
        height: 200px;
        transform: initial;
      }
    }
  }
}
