code {
  font-family: var(--font-family-code);
  background-color: rgb(127 127 127 / 12%);
  border-radius: var(--border-radius-base);
}

.article {
  --text-color: #595959;
  --border-color: #ddd;
  --link-color: var(--color-primary);
  --text-size-base: 15px;

  position: relative;
  max-width: 916px;
  margin: 60px auto 200px;
  font-size: var(--text-size-base);
  color: var(--text-color);

  header {
    margin-bottom: 30px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #252933;
  }

  h1 {
    font-size: 34px;
    line-height: 1.6em;
  }

  h2 {
    margin-bottom: 22px;
    font-size: 28px;
    line-height: 1.5em;
  }

  h3 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.4em;
  }

  h4 {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 1.3em;
  }

  h5 {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2em;
  }

  h6 {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 1.1em;
  }

  ul,
  p,
  pre {
    + section {
      margin-top: 40px;
    }

    + h2 {
      margin-top: 40px;
    }

    + h3 {
      margin-top: 43px;
    }

    + h4 {
      margin-top: 46px;
    }

    + h5 {
      margin-top: 49px;
    }

    + h6 {
      margin-top: 52px;
    }
  }

  a {
    color: var(--link-color);
    text-decoration: none;
  }

  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    margin-left: 4px;
    visibility: hidden;
  }

  li {
    line-height: 1.8;

    a {
      font-size: 18px;
    }
  }

  a:hover {
    text-decoration: underline solid var(--link-color);
  }

  .toc {
    position: absolute;
    right: -260px;

    a {
      text-decoration: none;
    }

    :global(.ant-anchor-wrapper) {
      width: 220px;
      max-height: calc(100vh - var(--navbar-height) - 120px) !important;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 2px;
        height: 4px;
      }

      @supports not selector(::-webkit-scrollbar) {
        & {
          scrollbar-width: thin;
        }
      }
    }
  }

  h2:hover a,
  h3:hover a,
  h4:hover a,
  h5:hover a,
  h6:hover a {
    visibility: visible;
  }

  p {
    margin-bottom: 28px;
    font-weight: 500;
    line-height: 1.5em;
  }

  ul,
  ol,
  dl {
    padding-left: 1.2em;
    margin-bottom: 20px;
    list-style: initial;
  }

  ol {
    list-style: decimal;
  }

  li > ul,
  li > ol,
  li > dl {
    margin-bottom: 6px;
  }

  // p + ul,
  // p + ol,
  // p + dl {
  //   margin-top: -15px;
  // }

  p + p {
    margin-top: -10px;
  }

  img {
    max-width: 100%;
    text-align: center;
    border-radius: var(--border-radius-base);
    box-shadow:
      0 0 #0000,
      0 0 #0000,
      7px 7px 15px 0 rgb(0 0 0 / 30%);

    + p,
    + ul,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6,
    + img {
      margin-top: 30px;
    }
  }

  pre {
    position: relative;
    margin-bottom: 25px;
    border-radius: var(--border-radius-base);
    box-shadow:
      0 0 #0000,
      0 0 #0000,
      7px 7px 15px 0 #000;

    + p {
      margin-top: 40px;
    }

    .copy {
      position: absolute;
      top: 6px;
      right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 10px;
      cursor: pointer;
      visibility: hidden;
      background-color: #1b1b1f;
      border: 1px solid #2e2e32;
      border-radius: var(--border-radius-base);
      opacity: 0;
      transition:
        opacity 0.3s ease-in-out,
        visiblity 0.3s ease-in-out;

      &:hover {
        background-color: black;
      }
    }

    + ul {
      margin-top: 40px;
    }

    + img {
      margin-top: 30px;
    }
  }

  pre + pre {
    margin-top: 30px;
  }

  pre:hover {
    .copy {
      visibility: visible;
      opacity: 1;
    }
  }

  pre::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  blockquote {
    padding: 1rem;
    padding-right: 0.5rem;
    margin: 25px 0;
    border-left: 0.2rem solid var(--color-primary);
    background-color: var(--color-primary-light);

    > p {
      margin-bottom: 0;
      line-height: 1.7em;
    }
  }

  table {
    max-width: 100%;
    margin-bottom: 30px;
    overflow: auto;
    font-size: 14px;
    text-align: left;
    border-radius: var(--border-radius-base);
    box-shadow:
      0 2px 2px 0 rgb(0 0 0 / 14%),
      0 1px 5px 0 rgb(0 0 0 / 12%),
      0 3px 1px -2px rgb(0 0 0 / 20%);

    th {
      min-width: 5rem;
      padding: 15px 18px;
      font-weight: 400;
      color: #fff;
      vertical-align: top;
      background-color: rgb(0 0 0 / 54%);
    }

    thead {
      th:first-child {
        border-top-left-radius: 4px;
      }

      th:last-child {
        border-top-right-radius: 4px;
      }
    }

    tr {
      transition: background-color 0.125s;

      &:hover {
        background-color: rgb(0 0 0 / 3.5%);
      }
    }

    td {
      padding: 15px 18px;
      vertical-align: top;
      border-top: 0.05rem solid var(--border-color);
    }
  }

  code {
    &.inline {
      padding: 1px 4px;
    }
  }

  :global(.token.comment) {
    font-style: normal;
    color: #6a9955 !important;
  }
}

:root[mode='dark'] .article {
  --text-color: rgb(158 158 158);
  --border-color: #333;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: hsl(0deg 0% 100% / 80%);
  }

  table {
    background-color: #1d1e1f;

    tr {
      &:hover {
        background-color: rgb(255 255 255 / 3.5%);
      }
    }

    th {
      color: var(--text-color);
      background-color: #1d1e1f;
    }
  }
}

@media screen and (width <= 1366px) {
  .article {
    max-width: 768px;
  }
}

@media screen and (width <= 1240px) {
  .article {
    .toc {
      display: none;
    }
  }
}

@media screen and (width <= 768px) {
  .article {
    width: 100%;
    padding: 0 20px;
  }
}
