.settings {
  width: 900px;

  .row {
    margin-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;

    .subTitle {
      margin-bottom: 3px;
      font-size: 15px;
      font-weight: 700;
    }
  }

  .line {
    display: flex;
    gap: 0 10px;
    align-items: center;

    .symbol {
      width: 14px;
      height: 14px;
      border: 1px solid #f0f0f0;
      border-radius: var(--border-radius-base);
    }
  }
}

:root[mode='dark'] {
  .settings .row {
    border-bottom: 1px solid #303030;
  }
}

@media screen and (width <= 1366px) {
  .settings {
    width: initial;
  }
}
