.wrapper {
  flex-direction: row;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  overflow: auto;
  background-color: var(--background-color);
}

.sider {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  box-shadow: 1px 0 1px rgb(255 255 255 / 5%);
}

.exhibit {
  flex: 2;
  max-width: 1140px;
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.codeWrapper {
  position: relative;
  flex: 3;
  height: 100%;
  overflow: hidden;
  scrollbar-color: transparent transparent;
  background-color: #282c34;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  code {
    font-family: var(--font-family-code);

    span {
      font-style: normal !important;
    }
  }
}

.codeShow {
  height: 100%;
  padding: 10px 5px;
  padding-bottom: 250px;
  padding-left: 200px;
  overflow: auto;
}

.codeController {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 14px;
  box-shadow: 0 1px 6px 0 rgba(255 255 255 / 10%);
}

@media screen and (width <= 796px) {
  .wrapper {
    flex-direction: column !important;
  }

  .exhibit {
    max-width: 100%;
  }
}
